<!doctype html>
<html lang="en-us">

<head>
    <title>Attribution and Licenses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/1bcaa78c-52d9-48a5-b257-4c04789c85d6%2Ffavicon_32x32.png?v=1624636943850">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="content">

        <header> 

            <div class="header-content">
                
                <div class="logo-box">
                    <a href="/"><img src="https://cdn.glitch.com/1bcaa78c-52d9-48a5-b257-4c04789c85d6%2Felephant_key_site_logo.png?v=1624636945667" alt="Elephant Key Logo" class="logo-img"></a>
                </div>

                <nav class="nav">
                    <ul class="top-nav">
                        <li><a href="/" class ="top-nav-link">Home</a></li>
                        <li><a href="/beyond-passwords/" class ="top-nav-link">Beyond Passwords</a></li>
                        <li><a href="/contact/" class ="top-nav-link">Contact</a></li>
                    </ul>
                </nav>

            </div>

        </header>

        <main>

            <div class="page-title-box">
                <h1 class="page-title">Attribution and Licenses</h1>
            </div>

            <div class="attribution-grid">

                <section class="credits">

                    <ul>
                        <li>
                            <p>Elephant Key is powered by:</p>
                            <ul>
                                <li><a href="https://www.python.org/" rel="nofollow">Python</a></li>
                                <li><a href="https://flask.palletsprojects.com/en/2.0.x/" title="Flask" rel="nofollow" target="_blank">Flask</a></li>
                                <li><a href="https://jinja.palletsprojects.com/en/3.0.x/" title="Jinja" rel="nofollow" target="_blank">Jinja</a></li>
                                <li><a href="https://werkzeug.palletsprojects.com/en/2.0.x/" title="Werkzeug" rel="nofollow" target="_blank">Werkzeug</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <p>Credits to:</p>
                            <ul>
                                <li>Logo based on design from <a href="https://www.vecteezy.com/free-vector/elephant-logo" rel="nofollow" target="_blank">Vecteezy.com</a> - <a href="https://www.vecteezy.com/licensing-agreement" rel="nofollow">Free License</a></li>
                                <li>Icons from <a href="https://www.freepik.com" title="Freepik" rel="nofollow" target="_blank">Freepik</a> - <a href="https://www.freepikcompany.com/legal" rel="nofollow">Free License</a></li>
                                <li>Icons from <a href="https://www.flaticon.com/" title="Flaticon" rel="nofollow" target="_blank">Flaticon</a> - <a href="https://www.freepikcompany.com/legal" rel="nofollow">Free License</a></li>
                                <li><a href="http://www.mieliestronk.com/wordlist.html" rel="nofollow" target="_blank">Mieliestronk's list of more than 58 000 English words</a></li>
                            </ul>
                        </li>

                        <li>
                        <p>Partly inspired by <a href="https://xkcd.com/936/" rel="nofollow" target="_blank">XKCD</a>:</p>
                            <figure>
                                <a href="https://xkcd.com/936/" rel="nofollow" target="_blank"><img src="https://cdn.glitch.com/1bcaa78c-52d9-48a5-b257-4c04789c85d6%2Fxkcd_936.png?v=1624636948069" class="xkcd-comic"></a>
                            </figure>
                        </li>

                        <li><p>And you, for being, here, thank you!</p></li>
                    
                    </ul>

                </section>

                <div class="attribution-cta-box">
                    <p>Return to the <a href="/"><strong>homepage</strong></a> to generate a new password.</p>
                </div>

            </div>

        </main>

        <footer>
            <div class="footer-content">
                <section class="footer-left">
                    <p>Copyright © 2021 <a href="https://neps.dev" title="Nephi Malit">N.M.</a></p>
                </section>
                <section class="footer-right">
                    <p>
                        <a href="/attribution/">Attribution and Licenses</a>
                    </p>
                </section>
            </div>
        </footer>

    </div>
</body>
</html>