<!doctype html>
<html lang="en-us">

<head>
    <title>-</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/1bcaa78c-52d9-48a5-b257-4c04789c85d6%2Ffavicon_32x32.png?v=1624636943850">
    
    <style>
      html {
        background-color: #464F70;
      }
      
      #content {
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
      }
      
      body {
        padding: 30px;
      }
      
      p {
        font-size: 1em;
        font-weight: bold;
        font-family: "Courier New";
        color: #dddddd;
        text-align: center;
      }
  </style>
  </head>

<body>
  <div id="content">
    <header>
    </header>    
    <body>
      <p>{{ line_1 }}</p>
      <p>{{ line_2 }}</p>
      <p>{{ line_3 }}</p>
      <p>{{ line_4 }}</p>
    </body>
  </div>
</body>
</html>